.nav {
    grid-column: full-start / full-end ;
    background-color: $color-primary;
    color: $color-white;

    &-flex {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem 2rem;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        display: flex;
        align-items: center;
        
    
    
        img {
            height: 2rem;
            margin-right: 1rem;    
        }
    
        p {
            font-size: 1.8rem;
            border-left: solid $color-white 1px;
            padding-left: 1rem;
        }
    }

    &-mobile-btn {

        @media only screen and (min-width: $bp-medium) {
            display: none;
        }
    }
}

